/* HEADER */
.main-container {
  /* Contenedor principal, define o tamanho máximo e margens */
  max-width: 80rem;
  height: 100rem;
  margin-left: 20rem; /* 320px para rem */
  margin-right: 3.5rem; /* 56px para rem */
}

.header__navigation {
  /* Navegação do cabeçalho, define o layout e estilo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem; /* 10px para rem */
  margin: 1.25rem; /* 20px para rem */
  border-radius: 0.5rem; /* 8px para rem */
  background-color: #121212;
}

.header__navigation .navigation {
  /* Navegação dentro do cabeçalho, define o layout e estilo */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navigation .navigation .arrow-left {
  /* Seta esquerda, define o espaçamento */
  margin-right: 0.9375rem; /* 15px para rem */
}

.arrow-left,
.arrow-right {
  /* Setas esquerda e direita, definem o estilo */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: var(--bg-icon);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__login {
  /* Login no cabeçalho, define o layout */
  display: flex;
  align-items: center;
}

.header__search {
  /* Campo de busca no cabeçalho, define o layout e estilo */
  display: flex;
  align-items: center;
  width: 22.75rem; /* 364px para rem */
  height: 3rem; /* 48px para rem */
  margin-left: 0.5rem; /* 8px para rem */
  border: transparent;
  background-color: #242424;
  border-radius: 31.25rem; /* 500px para rem */
  border: 0.0625rem solid transparent; /* 1px para rem */
}

.header__search img {
  /* Ícone de busca, define o tamanho e espaçamento */
  width: 1rem; /* 16px para rem */
  height: 1rem; /* 16px para rem */
  margin-left: 1.25rem; /* 10px para rem */
}

.header__search input {
  /* Campo de texto para busca, define o estilo */
  background: transparent;
  border: none;
  padding: 0 6.25rem 0 0.75rem;
  color: #fff;
  text-overflow: ellipsis;
  outline: none;
}

.header__login .subscribe {
  /* Botão de inscrição, define o estilo */
  color: var(--text-sub);
  font-size: 1rem; /* 16px para rem */
  font-weight: 700;
  background-color: transparent;
  margin-right: 2rem; /* 32px para rem */
}

.header__login .login {
  /* Botão de login, define o estilo */
  width: 6.25rem; /* 100px para rem */
  height: 3rem; /* 48px para rem */
  color: var(--text-base-dark);
  font-size: 1rem; /* 16px para rem */
  font-weight: 700;
  border-radius: 2.5rem; /* 40px para rem */
}

/* HOVER */

.header__search:hover {
  /* Efeito hover para o campo de busca */
  border: 0.0625rem solid #fff; /* 1px para rem */
}

.header__login .subscribe:hover,
.header__login .login:hover {
  /* Efeito hover para os botões de inscrição e login */
  transform: scale(1.04);
}
/* FIM HOVER */

/* FIM HEADER */

/* PLAYLIST */
.playlist-container {
  /* Contenedor da playlist, define o tamanho e estilo */
  height: 72vh;
  padding-top: 1rem;
  margin: 1.25rem; /* 20px para rem */
  border-radius: 0.625rem; /* 10px para rem */
  background-color: #121212;
}

.playlist {
  /* Playlist, define o espaçamento */
  margin: 3rem; /* 24px para rem */
}

.playlist #greeting {
  /* Saudação na playlist, define o estilo */
  color: var(--text-base-light);
  font-size: 2rem; /* 32px para rem */
  font-weight: 700;
  margin-bottom: 3rem; /* 48px para rem */
}

.playlist .session {
  /* Sessão na playlist, define o estilo */
  color: var(--text-base-light);
  font-size: 1.5rem; /* 24px para rem */
  font-weight: 700;
}

/* SCROLL */
.offer__scroll-container {
  /* Contenedor com scroll, define o tamanho máximo e estilo */
  max-height: 52vh;
  margin: 3rem; /* 24px para rem */
  overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
  /* Estilização do scrollbar */
  width: 0.0625rem; /* 1px para rem */
}

/* Thumb */
.offer__scroll-container::-webkit-scrollbar-thumb {
  /* Estilização do thumb do scrollbar */
  background-color: transparent;
}
/* FIM SCROLL */

.offer__list-item {
  /* Item da lista de ofertas, define o layout */
  display: grid; /* define o modelo de layout do elemento como uma grade */
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  /* número de colunas na grade e a largura de cada coluna */
  gap: 1rem;
  margin-bottom: 1rem;
}

.cards {
  /* Cartões de oferta, define o tamanho e estilo */
  position: relative;
  width: 13.75rem; /* 220px para rem */
  height: 12.5rem; /* 200px para rem */
  overflow: hidden;
  border-radius: 0.5rem; /* 8px para rem */
}

.cards span {
  /* Texto dentro dos cartões, define o estilo */
  padding: 1rem; /* 16px para rem */
  position: absolute;
  color: var(--text-base-light);
  font-size: 1.5rem; /* 24px para rem */
  font-weight: 700;
}

/* COLOR CARDS */
.card1 {
  /* Cor do cartão 1 */
  background-color: rgb(0, 100, 80);
}

/* Restante do seu código permanece igual */
